@using Twitter.Models;
@model IEnumerable<Tweet>

<div class="home-wrapper">
    @Html.Partial("_AllTweetsPartial")
    <nav>
        <ul class="pagination">
            @{
                for (int i = 1; i <= ViewBag.PagesCount; i++)
                {
                    int startPage = i - 1;
                    <li>
                        <a href="/Home/Index?startPage=@startPage">@i</a>
                    </li>
                }
            }
        </ul>
    </nav>
</div>