@model IQueryable<Twitter.Web.Models.ViewModels.UserTweetViewModel>

<div class="home-wrapper">
    @if (TempData["SuccessMessage"] != null)
    {
        <br />
        <p class="alert alert-success">@TempData["SuccessMessage"]</p>
    }

    <div id="notifications"></div>    

    @Html.DisplayForModel()

    <nav>
        <ul class="pagination">
        @{
            for (int i = 1; i <= ViewBag.PagesCount; i++)
            {
                int startPage = i - 1;
                <li>
                    <a href="/Home/Index?startPage=@startPage">@i</a>
                </li>
            }
        }
        </ul>
    </nav>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var notificationsHub = $.connection.notifications;
            notificationsHub.client.receiveNotification = function (type, notification) {
                var notificationElement = $("<div>").addClass("alert alert-dismissible alert-" + type).html("<button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button>" + notification);
                $("#notifications").append(notificationElement);
            };

            $.connection.hub.start();
        });
    </script>
}