body {
    background-color: #b2deed;
}

#profile-picture {
    border: 1px solid #000;
    width: 150px;
}

#friends p {
    margin: 0;
    padding: 10px 0;
}

#friends p span {
    text-indent: 30px;
    display: inline-block;
}