# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# visual studio
*.suo
bin
obj
packages

# inteli j
.idea
.vs

# netbeans
nbproject/*
dist/*
build/*
/c/4. C Operators/homework/1. Exchange If Greater/dist/
/c/4. C Operators/homework/1. Exchange If Greater/build/
/c/4. C Operators/homework/2. Bonus Score/dist/
/c/4. C Operators/homework/2. Bonus Score/build/
/c/4. C Operators/homework/3. Check for a Play Card/build/
/c/4. C Operators/homework/3. Check for a Play Card/dist/
/c/4. C Operators/homework/4. Multiplication Sign/build/
/c/4. C Operators/homework/4. Multiplication Sign/dist/
/c/4. C Operators/homework/5. The Biggest of 3 Numbers/dist/
/c/4. C Operators/homework/5. The Biggest of 3 Numbers/build/
/c/4. C Operators/homework/6. The Biggest of Five Numbers/build/
/c/4. C Operators/homework/6. The Biggest of Five Numbers/dist/
/c/4. C Operators/homework/7. Sort 3 Numbers with Nested Ifs/build/
/c/4. C Operators/homework/7. Sort 3 Numbers with Nested Ifs/dist/
/c/4. C Operators/homework/8. Digit as Word/build/
/c/4. C Operators/homework/8. Digit as Word/dist/
/c/4. C Operators/homework/9. Play with Int, Double and String/dist/
/c/4. C Operators/homework/9. Play with Int, Double and String/build/
/c/4. C Operators/homework/10. Beer Time/build/
/c/4. C Operators/homework/10. Beer Time/dist/
/c/4. C Operators/homework/11. Number as Words/build/
/c/4. C Operators/homework/11. Number as Words/dist/
/c/4. C Operators/homework/12. Zero Subset/build/
/c/4. C Operators/homework/12. Zero Subset/dist/
/c/6. Loops/homework/1. Numbers from 1 to N/build/
/c/6. Loops/homework/1. Numbers from 1 to N/dist/
/c/6. Loops/homework/2. Numbers Not Divisible by 3 and 7/dist/
/c/6. Loops/homework/2. Numbers Not Divisible by 3 and 7/build/
/c/6. Loops/homework/3. Min, Max, Sum and Average of N Numbers/build/
/c/6. Loops/homework/3. Min, Max, Sum and Average of N Numbers/dist/
/c/6. Loops/homework/4. Print a Deck of 52 Cards/build/
/c/6. Loops/homework/4. Print a Deck of 52 Cards/dist/
/c/6. Loops/homework/5. Calculate S/dist/
/c/6. Loops/homework/5. Calculate S/build/
/c/6. Loops/homework/6. Calculate N! K!/build/
/c/6. Loops/homework/6. Calculate N! K!/dist/
/c/6. Loops/homework/7. Calculate N! (K! (N-K)!)/dist/
/c/6. Loops/homework/7. Calculate N! (K! (N-K)!)/build/
/c/6. Loops/homework/8. Catalan Numbers/build/
/c/6. Loops/homework/8. Catalan Numbers/dist/
/c/6. Loops/homework/9. Matrix of Numbers/build/
/c/6. Loops/homework/9. Matrix of Numbers/dist/
/c/6. Loops/homework/10. Odd and Even Product/dist/
/c/6. Loops/homework/10. Odd and Even Product/build/
/c/6. Loops/homework/11. Random Numbers in Given Range/dist/
/c/6. Loops/homework/11. Random Numbers in Given Range/build/
/c/6. Loops/homework/12. Randomize the Numbers 1…N/build/
/c/6. Loops/homework/12. Randomize the Numbers 1…N/dist/
/c/6. Loops/homework/13. Binary to Decimal Number/dist/
/c/6. Loops/homework/13. Binary to Decimal Number/build/
/c/6. Loops/homework/14. Decimal to Binary Number/build/
/c/6. Loops/homework/14. Decimal to Binary Number/dist/
/c/6. Loops/homework/15. Hexadecimal to Decimal Number/build/
/c/6. Loops/homework/15. Hexadecimal to Decimal Number/dist/
/c/6. Loops/homework/16. Decimal to Hexadecimal Number/build/
/c/6. Loops/homework/16. Decimal to Hexadecimal Number/dist/
/c/6. Loops/homework/17. Calculate GCD/build/
/c/6. Loops/homework/17. Calculate GCD/dist/
/c/6. Loops/homework/18. Trailing Zeroes in N!/dist/
/c/6. Loops/homework/18. Trailing Zeroes in N!/build/
/c/6. Loops/homework/19. Spiral Matrix/build/
/c/6. Loops/homework/19. Spiral Matrix/dist/