table {
    margin-top: 10px;
    border-collapse: collapse;
    text-align: center;
}

table tr:nth-child(odd) {
    background-color: #eaf2d3;
}

table tr:first-child {
    background-color: #a7c942;
    color: #fff;
    font-size: 18px;;
}

table td {
    padding: 5px;
    border: 1px solid #98bf21;
}

.title {
    font-weight: bold;
}