@model Snippy.Web.Models.SnippetViewModel

<div class="panel panel-primary">
    <div class="panel-body">
        <a href="/Snippets/Details/@Model.Id"><h3>@Model.Title</h3></a>
        @Html.DisplayFor(m => m.Labels)
    </div>
</div>