<div class="panel pull-right panel-info friends-preview col-xs-12" ng-if="friendsListPreview">
    <div class="panel-heading">Friends - <a href="{{friendsListPreview.userFriendsUrl}}">{{friendsListPreview.totalCount}} total</a></div>
    <div class="panel-body" ng-repeat="friend in friendsListPreview.friends">
        <a href="#/user/{{friend.username}}/wall/">
            <img ng-src="{{defaultImage}}" ng-if="!friend.profileImageData" alt="profile picture" style="width: 50px; height: 50px"/>
            <img ng-src="{{friend.profileImageData}}" ng-if="friend.profileImageData" alt="profile picture" style="width: 50px; height: 50px"/>

            <span>{{friend.name}}</span>
        </a>
    </div>
</div>