<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="center">
        <h1 class="text-center">Welcome to SoftUni Social Network!</h1>
        <h2 class="text-center">In order to use it, please</h2>
        <div class="text-center">
            <a href="#/login"><button type="button" class="btn btn-lg btn-success">Login</button></a>
            <span>or</span>
            <a href="#/register"><button type="button" class="btn btn-lg btn-danger">Register</button></a>
        </div>
    </div>
</div>