<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li>
            <img ng-src="{{defaultImage}}" ng-if="!userData.profileImageData" alt="profile picture" style="width: 50px; height: 50px"/>
            <img ng-src="{{user.profileImageData}}" ng-if="user.profileImageData" alt="profile picture" style="width: 50px; height: 50px"/>
        </li>
        <li><a href="#/{{userData.username}}/wall/">{{userData.name}}</a></li>
        <li><a href="#/home">News feed</a></li>
        <li>
            <a class="dropdown-toggle" data-toggle="dropdown" ng-click="toggleFriendRequests()" ng-init="getFriendRequests()" style="cursor: pointer" >Friend requests: {{pendingRequests.length}}</a>
            <div class="dropdown-menu" ng-if="showPendingRequests" id="friend-requests-box" class="list-group">
                <div ng-repeat="request in pendingRequests" class="list-group-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="#/user/{{request.user.username}}/wall/">
                                <img ng-src="{{defaultImage}}" ng-if="!request.user.profileImageData" alt="profile picture" style="width: 50px; height: 50px"/>
                                <img ng-src="{{request.user.profileImageData}}" ng-if="request.user.profileImageData" alt="profile picture" style="width: 50px; height: 50px"/>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <button ng-click="acceptFriendRequest(request)" class="btn btn-success btn-sm">accept</button>
                            <button ng-click="rejectFriendRequest(request)" class="btn btn-danger btn-sm">reject</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="name" style="color:black">{{request.user.name}}</span>
                        </div>
                    </div>
                </div>
                <span>{{pendingRequests.length}} results</span>
            </div>

        </li>
        <li><a href="#/profile">Edit profile</a></li>
        <li><a href="#/profile/password">Edit password</a></li>
        <li><a href="#/logout">Logout</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="align-right">
            <form id="search-form" role="search" style="margin-right: 100px;">
                <div class="input-group" style="margin: 8px 25px 0 0;">
                    <input type="text" id="search-input" ng-model="searchTerm" ng-change="searchUser()" ng-blur="clearSearchResults()" class="form-control" placeholder="Search by name...">
                </div>

                <div id="search-results" ng-if="searchResults" class="list-group">
                    <div ng-repeat="user in searchResults" class="list-group-item">
                        <a href="#/users/{{user.username}}/wall/">
                            <img ng-src="{{defaultImage}}" ng-if="!user.profileImageData" alt="profile picture" style="width: 50px; height: 50px"/>
                            <img ng-src="{{user.profileImageData}}" ng-if="user.profileImageData" alt="profile picture" style="width: 50px; height: 50px"/>
                            <span class="name">{{user.name}}</span>
                        </a>
                    </div>
                </div>
            </form>
        </li>
    </ul>
</nav>