<div style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Register</div>
            <div style="float:right; font-size: 85%; position: relative; top:-10px">
                <a href="#/login">Login</a>
            </div>
        </div>
        <div class="panel-body">
            <form id="register-form" class="form-horizontal" role="form" ng-submit="register()">
                <div class="form-group">
                    <label for="register-username" class="col-md-3 control-label">Username</label>
                    <div class="col-md-9">
                        <input type="text" id="register-username" class="form-control" ng-model="registerData.username" placeholder="Username..." min="4" required />
                    </div>
                </div>

                <div class="form-group">
                    <label for="register-password" class="col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        <input type="password" id="register-password" class="form-control" ng-model="registerData.password" placeholder="Password..." min="6" required />
                    </div>
                </div>

                <div class="form-group">
                    <label for="register-repeat-password" class="col-md-3 control-label">Password confirm</label>
                    <div class="col-md-9">
                        <input type="password" id="register-repeat-password" class="form-control" ng-model="registerData.confirmPassword" placeholder="Password confrim..."  min="6" required />
                    </div>
                </div>

                <div class="form-group">
                    <label for="register-name" class="col-md-3 control-label">Name</label>
                    <div class="col-md-9">
                        <input type="text" id="register-name" class="form-control" ng-model="registerData.name" placeholder="Name..." min="4" required />
                    </div>
                </div>

                <div class="form-group">
                    <label for="register-email" class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        <input type="email" id="register-email" class="form-control" ng-model="registerData.email" title="Please enter valid email!" placeholder="Email Address" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Gender</label>
                    <div class="col-md-9">
                        <input type="radio" id="register-male" value="1" ng-model="registerData.gender" />
                        <label for="register-male">Male</label>
                        <input type="radio" id="register-female" value="2" ng-model="registerData.gender" />
                        <label for="register-female">Female</label>
                        <input type="radio" id="register-other" value="0" ng-model="registerData.gender" />
                        <label for="register-other">Other</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-info" id="register">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>