section {
    background-color: #f0f0f0;
    width: 520px;
    margin: 0 auto;
    padding-top: 5px;
}

h1 {
    text-align: center;
}

article {
    width: 500px;
    margin: 0 auto;
}

article h3 {
    text-align: center;
}

img {
    width: 500px;
}