@model SportSystem.Web.Models.PlayerViewModel

<div class="panel panel-danger">
    <div class="panel-body">
        <h3>@Model.Name</h3>
        <p>Born: @Model.DateOfBirth</p>
        <p>Height: @Model.Height</p>
    </div>
</div>