<!-- Phonebook screen -->
<table id="phones">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Action</th>
    </tr>
    {{#results}}
    <tr>
        <td>{{name}}</td>
        <td>{{phoneNumber}}</td>
        <td>
            <a href="#/phones/edit/id={{objectId}}&name={{name}}&phoneNumber={{phoneNumber}}" class="link">Edit</a>
            <a href="#/phones/delete/id={{objectId}}&name={{name}}&phoneNumber={{phoneNumber}}" class="link">Delete</a>
        </td>
    </tr>
    {{/results}}
</table>
<p><a href="#/phones/add/" class="button">Add Phone</a></p>