form section {
    display: block;
    margin-bottom: 10px;
}

#sidebar div {
    width: 100px;
    margin-top: 10px;
    padding: 15px;

    background: -moz-linear-gradient(top,  #d0ddec 0%, #d0ddec 50%, #a8c1e4 50%, #a8c1e4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0ddec), color-stop(50%,#d0ddec), color-stop(50%,#a8c1e4), color-stop(100%,#a8c1e4));
    background: linear-gradient(to bottom,  #d0ddec 0%,#d0ddec 50%,#a8c1e4 50%,#a8c1e4 100%);
    border: 1px solid #000;
    border-radius: 20px;
}

#sidebar div p,
#sidebar div ul,
#sidebar div ul li {
    margin: 0;
    padding: 0;
}

#sidebar div p.header {
    margin-bottom: 5px;

    border-bottom: 1px solid #000;
    font-size: 20px;
    font-weight: bold;
}

#sidebar div ul li {
    margin-left: 20px;
}

#sidebar div ul li a {
    color: #000;
}